<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Credit limit</th>
      <th>Current balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.uuid %></td>
        <td><%= customer.credit_limit %></td>
        <td><%= customer.current_balance %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
